#particles-js{
    background:black;
    height:400px;
}
.name h1 {
    color:white;
    padding:1em;
    position: absolute;
    width:80%;
    left:10%;
    
    z-index: 1;
  
    
}
.author p{
    color:white;
    position: absolute;
    margin-top:350px;
    padding:0.5em;
    left:90%;
    border:1px solid #80ffff;
}